NEXT_PUBLIC_SITE_URL="https://www.brasilmaisbolsas.com.br"
NEXT_PUBLIC_API_URL="http://localhost:3333"
NEXT_PUBLIC_API_TIMEOUT_MS="15000"
NEXT_PUBLIC_API_REVALIDATE="300"

NEXT_PUBLIC_IMAGES_BASE_URL=""
